{% load static %}
<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coșul Virtual</title>
    <script type="text/javascript">
        //importăm datele din Python
        var zboruri=JSON.parse('{{ zboruri_json | escapejs }}'); //folosind escapejs pentru a evita caracterele speciale
        console.log(zboruri); //verificam dacă datele sunt corect transferate
    </script>
    <script src="{% static 'js/afiseaza_cos.js' %}" defer></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/afiseaza_cos.css' %}">
</head>
<body>
    <h1>Coșul Virtual</h1>

    <!-- tabelul pentru afișarea produselor din cos -->
    <table id="tabel_cos_virtual" border="1">
        <thead>
            <tr>
                <th onclick="ordoneazaCos('plecare')">Plecare</th>
                <th onclick="ordoneazaCos('destinatie')">Destinatie</th>
                <th onclick="ordoneazaCos('pret')">Pret Unitar</th>
                <th onclick="ordoneazaCos('cantitate')">Cantitate</th>
                <th onclick="ordoneazaCos('pret_total')">Pretul Biletelor</th>
            </tr>
        </thead>
        <tbody> 
        </tbody>
        <!-- randurile le inserez din js -->
    </table>
    <p>
        <strong>Total obiecte:</strong> <span id="numar_total_obiecte">0</span>
        <br>
        <strong>Total pret:</strong> <span id="pret_total">0.00</span>
    </p>

    <button id="btn_goleste_cos">Golește coșul</button>
</body>
</html>
