<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalii bilet</title>
</head>
<body>
    <h1>Detalii Bilet</h1>
    <p><strong>ID Bilet:</strong> {{ bilet.id_bilet }}</p>
    <p><strong>Pasager:</strong> {{ bilet.nume_prenume }}</p>
    <p><strong>Zbor:</strong> {{ bilet.zbor }}</p>
    <p><strong>Preț:</strong> {{ bilet.pret }}</p>
    <a href="{% url 'home' %}">Înapoi</a>
</body>
</html>
