<!DOCTYPE html>
<html>
<head>
    <title>Confirmare E-mail</title>
</head>
<body>
    <h1>Bună, {{ username }}!</h1>
    <p>Te-ai înregistrat cu succes pe site-ul nostru. Pentru a-ți activa contul, te rugăm să confirmi adresa de e-mail făcând click pe link-ul de mai jos:</p>
    <p><a href="{{ link_confirmare }}">Confirmă-ți e-mailul aici</a></p>
    <img src="https://seeklogo.com/images/D/departure-flights-airport-sign-logo-A9A341DA0F-seeklogo.com.png" alt="Logo site" />
</body>
</html>
